@model ITAMapp.ViewModels.HeaderViewModel
<head>
    <title>Asset Manager</title>
    <link rel="stylesheet" type="text/css" href="~/css/header.css">
</head>

<div class="ColorBar">&nbsp;</div>
<img src="~/it-asset-management.jpg" alt="" width="225" height="125" style="margin-top: 5px; margin-bottom: 5px;"/>
<div class="menu">
    @foreach(var category in Model.categories)
    {
        <a href="/@(category.UrlName)/Index"><span>@category.CategoryDescription</span></a>

    }
</div>


<body>
    @RenderBody()
</body>


