<head>
    <title>Asset Manager</title>
    <link rel="stylesheet" type="text/css" href="~/css/header.css">
</head>

<img src="~/ivari-logo-social.jpg" alt="" width="170" height="90" />
<div class="menu">
    <span><a asp-controller="Application" asp-action="Index">Applications</a></span>
    <span>Infrastructure</span>
    <span>Software Licenses</span>
    <span>IT Contractors</span>
</div>
<div class="ColorBar">&nbsp;</div>

<body>
    @RenderBody()
</body>


