<head>
    <title>Asset Manager</title>
    <link rel="stylesheet" type="text/css" href="~/css/header.css">
</head>

<div class="ColorBar">&nbsp;</div>
<img src="~/ivari-logo-social.jpg" alt="" width="170" height="90" />
<div class="menu">
    <a href="/Application/Index"><span>Applications</span></a>
    <a href="/Infrastructure/Index"><span>Infrastructure</span></a>
    <a href="/Software/Index"><span>Software Licenses</span></a>
    <a href="/Contractor/Index"><span>IT Contractors</span></a>
</div>


<body>
    @RenderBody()
</body>


