* {
    font-family: Arial, Helvetica, sans-serif;
}

/*Highlights the current tab*/
#chosen {
    background-color: #2196f3;
}

/*Title displaying the current category*/
#label {
    color: #aaaaaa;

    font-size: 26px;
}

/*General button style*/
.button, button {
    background-color: white;
    border: 1px solid #0074A3;
    color: #0074A3;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}


/*Div containing search bar and button*/
#SearchButtons {
    padding-bottom: 25px;
}

input {
    color: #c0c0c0;
}

/*Button to create new asset*/
#new {
    margin-left: 15px;
}

table {
    font-size: 14px;
    border-collapse: collapse;
    border: 1px solid #dddddd;
}

/*Table headings*/
.heading th {
    background-color: #46A8D7;
    border: 2px solid #dddddd;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    cursor: pointer;
    padding: 8px;
    line-height: 20px;
    vertical-align: bottom;
    font-weight: bold;
}


td {
    color: #929292;
    border: 2px solid #dddddd;
    font-size: 15px;
}

/*Makes every other row background grey*/
.alternate td {
    background-color: #ececec;
}
